.login-bg {
    width: 100%;
    height: 100%;
    background-image: url("../img/login-bg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.imageBox-article {
    margin-bottom: 10px;
    position: relative;
    height: 190px;
    width: 280px;
    background: #fff;
    overflow: hidden;
    cursor: move;
}

.thumbBox-article {
    position: absolute;
    top: 10px;
    left: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
    width: 260px;
    height: 170px;
}
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}

.upload {
    position: relative;
}
.upload input {
    width: 100px;
    height: 45px;
    position: relative;
    z-index: 9;
    opacity: 0;
}
.upload label {
    border: 1px solid #99D3F5;
    border-radius: 4px;
    position: absolute;
    background: #D0EEFF;
    display: inline-block;
    color: #004974;
    width: 100px;
    height:35px;
    line-height: 35px;
    text-align: center;
    top: 0;
    left: 0;
}

/*input radio css */
.radio label {
    padding: 0 0 0 25px;
    display: inline-block;
    position: relative;
    cursor: pointer
}

.radio label:before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 100%;
    position: absolute;
    border: 1px solid #999;
    left: 0;
    top: 50%;
    margin-top: -7px
}

.radio label:after {
    content: "";
    position: absolute;
    display: none;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #999;
    left: 3px;
    top: 50%;
    margin-top: -4px
}

input[type=radio]:checked+label:after {
    display: block
}

.radio input[type=radio] {
    display: none
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
}

.checkbox input {
    display: none;
}

.checkbox label {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.checkbox label:before {
    border: 1px solid #999;
    border-radius: 2px;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 10px;
}

.checkbox label:after {
    content: "\e604";
    display: none;
    font-family: "iconfont" !important;
    font-weight: bold;
    height: 10px;
    left: 0;
    line-height: 10px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 10px;
    z-index: 3;
    color: #f15a28;
}

.checkbox input:checked + label:after {
    display: block;
}

.checkbox input:checked + label:before {
    border-color: #f15a28;
}

.user-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right:20px;
}

.search-p {
    padding:10px;
}

.search-p label {
    float: left;
    margin-right: 20px;
}
ul li{list-style: none;}
.clear{clear: both;}
.wangEditor-txt p>span{background: #f9fafa !important;border: 1px solid #ded9d9;margin: 0 5px;padding: 2px 6px;display: inline-block;border-radius: 4px;word-break: break-all;white-space: pre;line-height: 1.3;}
.wangEditor-txt pre{background-color: #fdf6e3 !important;}