{extend name="layout_iframe"}
{block name="content"}
<form action="{:url('Admin/Tip/add')}">
    <table cellpadding="0" cellspacing="0" style="border:0; margin: 0 auto;" class="tc">
        <tr>
            <td width="80" align="right">文本：</td>
            <td class="tdright">
                <input type="text" name="tip_title" placeholder="请输入文本" value="">
            </td>
        </tr>
        <tr>
            <td width="80" align="right">是否显示：</td>
            <td class="tdright">
                <div class="radio">
                    <input type="radio" name="tip_view" id="radio_1" value="1" /><label for="radio_1">显示</label>&nbsp;
                    <input type="radio" name="tip_view" id="radio_2" value="0" checked /><label for="radio_2">不显示</label>&nbsp;
                </div>
            </td>
        </tr>
        <tr>
            <td width="80" align="right">排序：</td>
            <td class="tdright">
                <input type="text" name="tip_sort" value="">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="enter">
                <button class="btn editsave" type="button">添加</button>
                <button class="btn" type="reset">重置</button>
            </td>
        </tr>
    </table>
</form>
{/block}