{extend name="layout"}
{block name="title"}
<div id="content-header">
    <h1>插件</h1>
</div>
<div id="breadcrumb">
    <a href="{:url('Admin/Index/index')}" title="回到首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
    <a href="#" class="current">首页文字</a>
</div>
{/block}
{block name="content"}
<div class="row-fluid">
    <div class="widget-box span12">
        <form action="">
        <div class="widget-title">
            <h5>Tip 管理</h5>
            <a class="label label-info add" data-height="300" data-url="{:url('Admin/Tip/add')}">添加</a>
            <a class="label label-info sort" data-url="{:url('Admin/Tip/sort')}">排序</a>
        </div>
        <div class="widget-content">
            <style>
                .table th, .table td{vertical-align: middle !important;}
            </style>
            <table class="table table-bordered table-striped with-check">
                <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="50%">描述</th>
                    <th width="10%">显示</th>
                    <th width="15%">排序</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="tiplist" id="t" key="k2"}
                <tr>
                    <td>{$t.tip_id}</td>
                    <td>{$t.tip_title}</td>
                    <td style="text-align: center">
                        <button class="btn btn-mini changgeview" data-url="{:url('Admin/Tip/view')}" data-id="{$t.tip_id}" data-view="{$t.tip_view}">{$t.tip_view?'显示':'不显示'}</button>
                    </td>
                    <td>
                        <input type="text" value="{$t.tip_sort}" name="sort[{$k2}][tip_sort]">
                        <input type="hidden" value="{$t.tip_id}" name="sort[{$k2}][tip_id]">
                    </td>
                    <td style="text-align: center">
                        <button type="button" class="btn btn-mini edit" data-height="300" data-url="{:url('Admin/Tip/edit',['id'=>$t['tip_id']])}">修改</button>
                        <button type="button" class="btn btn-mini delete" data-url="{:url('Admin/Tip/delete')}" data-id="{$t.tip_id}">删除</button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        </form>
    </div>
</div>
{/block}