<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{$title} - {$systeminfo.sys_title}</title>
    <meta name="keywords" content="{$systeminfo.sys_keyword}" />
    <meta name="description" content="{$systeminfo.sys_remark}" />
    <meta name="version" content="v {$systeminfo.sys_version}" />
    <meta name="author" content="{$Think.config.auth.author}"/>
    <!--移动设备优先-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script>window.location.href= "{:url('base/ieerror')}";</script>
    <![endif]-->
    <link rel="stylesheet" href="home_css/bootstrap.css?v={$systeminfo.sys_version}" />
    <link rel="stylesheet" href="home_css/my.css?v={$systeminfo.sys_version}" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1477105914_3430886.css">

    <script src="home_js/jquery-1.10.1.min.js" ></script>
</head>
<body>
<!--顶部开始-->
<div class="top-bg">
    <div class="container">
        <div class="top-l"><a class="from">{:getOs()}</a></div>
        <div class="top-r">
            {empty name="Think.session.qq.nick"}
                <span class="from qqlogin" data-url="{:url('Base/login')}" data-callback="{:url('Base/callback')}" style="cursor: pointer">QQ访问</span>
            {else/}
                {$Think.session.qq.nick} <a class='from' href="{:url('Base/qqout')}">退出</a>
            {/empty}
        </div>
    </div>
</div>
<!--顶部结束-->

<div class="container">

    <!--头部开始-->
    <div class="row header">
        <div class="col-lg-4 col-md-4 header-logo">
            <a title="{$Think.config.NAME}" href="{:url('Index/index')}"><img src="home_img/icon/logo.png" /></a>
            <h5 class="hidden-xs">{$systeminfo.sys_title2}</h5>
        </div>
        <div class="header-menu col-lg-5 col-md-5 col-xs-12">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="#">博客导航</a>
                </div>
                <div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {volist name="menuinfo" id="m"}
                            {empty name="m.child"}
                            <li class="{$m.menu_url|checkmenu}"><a href="{:url($m.menu_url)}">{$m.menu_name}</a></li>
                            {else /}
                            <li class="dropdown {$m.menu_url|checkmenu}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-expanded="false">{$m.menu_name}&nbsp;&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {volist name="m.child" id="m2"}<li><a href="{:url($m2.menu_url,['id'=>$m2['menu_id']])}" ><i class="icon-ok-sign"></i> {$m2.menu_name}</a></li>
                                        <li class="divider"></li>
                                    {/volist}
                                </ul>
                            </li>
                            {/empty}
                        {/volist}
                    </ul>
                    <div class="menu-bar"></div>
                    <div class="menu-clean"></div>
                </div>
            </nav>
        </div>
    </div>
    <!--头部结束-->
    <div class="row aerousel">

        {block name="banner"}
        <!-- 轮播开始 -->
        <script src="home_js/jquery.banner.js"></script>
        <ul class="hiSlider container hidden-xs banner">
            {volist name="bannerlist" id="b"}
            <li class="hiSlider-item" data-title="{$b.ban_title}"><a href="{$b.ban_url}" target="_blank"><img src="{$b.ban_img}" alt="{$b.ban_title}"></a></li>
            {/volist}
        </ul>
        <script>
            $('.banner').hiSlider({
                isFlexible: true,
                isSupportTouch: true,
                isShowControls: false,
                titleAttr: function(){
                    return $('img', this).attr('alt');
                }
            });
        </script>
        {/block}

        <div class="col-md-8 row-left index">
            {block name="left"}{/block}
        </div>
        <div class="col-md-4 row-right index">
            {block name="right"}
            <div class="sider-margin sider-box">
                <div class="sider-search">
                    <div class="input-group sider-search-input">
                        <form action="{:url('Cate/search')}" method="get" class="form-search">
                            <input type="text" class="form-control sider-search-input" placeholder="请输入关键词" name="key">
                            <span class="input-group-btn">
	            	            <button class="btn btn-default btn-search" type="submit"><i class="iconfont icon-search search"></i></button>
	          	            </span>
                        </form>
                    </div>
                </div>
                <div class="sider-follow hidden-xs sider-margin">
                    <a href="{$Think.config.auth.githuburl}" target="_blank"><i class="iconfont icon-github"></i></a>
                    <a><i class="iconfont icon-weixin" id="weixin"></i></a>
                    <a href="{$Think.config.auth.weibourl}" target="_blank"><i class="iconfont icon-weibo"></i></a>
                </div>
                <div class="sider-follow-hr hidden-xs"></div>
            </div>
            <div class="sider-margin sider-box">
                <h4><i class="iconfont icon-tags"></i>&nbsp;&nbsp;我的标签</h4>
                <ul class="sider-tag-ul">
                    {$siderdata.tagslist|getTags}
                </ul>
            </div>
            <div class="sider-box">
                <h4><i class="iconfont icon-shuffle"></i>&nbsp;&nbsp;随机文章</h4>
                <ul class="sider-rand-ul">
                    {volist name="siderdata.articles" id="siderart" empty="暂无文章"}
                        <li>
                            <a href="{:url('Article/index',['id'=>$siderart['art_id']])}" title="{$siderart.art_title}" class="sider-rand-img image-light">
                                <img src="{$siderart.art_img}" class="article-img" alt="{$siderart.art_title}" title="{$siderart.art_title}" />
                            </a>
                            <div class="sider-rand-title"><a href="{:url('Article/index',['id'=>$siderart['art_id']])}">{$siderart.art_title|msubstr=0,15,'utf-8',true}</a></div>
                            <div class="sider-rand-remark">{$siderart.art_remark|strip_tags|msubstr=0,35,'utf-8',true}</div>
                        </li>
                    {/volist}
                </ul>
            </div>
            <div class="sider-box">
                <h4><i class="iconfont icon-review"></i>&nbsp;&nbsp;最新互动</h4>
                <div class="tab"  id="tab">
                    <ul class="nav nav-tabs" >
                        <li class="active"><a href="#art" data-toggle="tab">最新评论</a></li>
                        <li><a href="#contents" data-toggle="tab">最新留言</a></li>
                        <li><a href="#hot" data-toggle="tab">最多点击</a></li>
                    </ul>
                </div>
            </div>
            <div class="sider-box">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="art">
                        <ul class="sider-content-ul">
                            {volist name="siderdata.artcomment" id="siderartcom" empty="暂无评论" }
                                <li>
                                    <img src="{$siderartcom.mem_img}" class="img-circle img-45"/>
                                    <div class="sider-content-name"><i class="iconfont icon-review"></i>&nbsp;&nbsp;{$siderartcom.mem_name}</div>
                                    <div class="sider-content-remark">
                                        {eq name="$siderartcom.art_down" value="0"}
                                        &nbsp;&nbsp;<a href="{:url('Article/index',['id'=>$siderartcom['com_artid']])}#{$siderartcom.com_id}" title="{$siderartcom.com_content|strip_tags|msubstr=0,19,'utf-8',true}.." >{$siderartcom.com_content|strip_tags|msubstr=0,19,'utf-8',true}</a>
                                        {else/}
                                        &nbsp;&nbsp;<a href="{:url('Download/info',['id'=>$siderartcom['com_artid']])}#{$siderartcom.com_id}" title="{$siderartcom.com_content|strip_tags|msubstr=0,19,'utf-8',true}.." >{$siderartcom.com_content|strip_tags|msubstr=0,19,'utf-8',true}</a>
                                        {/eq}
                                    </div>
                                </li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="contents">
                        <ul class="sider-content-ul">
                            {volist name="siderdata.comment" id="sidercom" empty="暂无留言" }
                            <li>
                                <img src="{$sidercom.mem_img}" class="img-circle img-45"/>
                                <div class="sider-content-name"><i class="iconfont icon-review"></i>&nbsp;&nbsp;{$sidercom.mem_name}</div>
                                <div class="sider-content-remark">
                                    &nbsp;&nbsp;<a href="{:url('Comment/index')}#{$sidercom.com_id}" title="{$sidercom.com_content|strip_tags|msubstr=0,19,'utf-8',true}.." >{$sidercom.com_content|strip_tags|msubstr=0,19,'utf-8',true}</a>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="hot">
                        <ul class="sider-hot-ul">
                            {volist name="siderdata.hits" id="siderhits" empty="暂无文章"}
                                <li><i class="iconfont icon-hit"></i>&nbsp;&nbsp;<a href="{:url('Article/index',['id'=>$siderhits['art_id']])}" >{$siderhits.art_title|mb_substr=0,25,'utf-8'}</a>({$siderhits.art_hit})</li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            {/block}
        </div>
    </div>
</div>

<!--底部开始-->
<div class="container-foot">
    <div class="container foot">
        <div class="row foot-margin">
            <div class="col-md-3 ">
                <h4>程序相关</h4>
                <p class="foot-box">
                    <i class="iconfont icon-group"></i>&nbsp;群：&nbsp;<a href="{$Think.config.auth.qqjoin}" target="_blank" class="foot-my">
                    <strong>{$Think.config.auth.qqgroup}</strong>
                </a>
                    <span class="foot-box-r">
						<i class="iconfont icon-comment"></i>&nbsp;
                        <a href="{$Think.config.auth.baiduurl}" target="_blank" class="foot-my">邀你点评</a>
                    </span>
                </p>
                <p class="foot-box">
                    <i class="iconfont icon-program"></i>&nbsp;程序：&nbsp;{$Think.config.auth.blogname}
                    <span class="foot-box-r">
						<i class="iconfont icon-version"></i>&nbsp;版本：&nbsp;Beta {$systeminfo.sys_version}
                    </span>
                </p>
                <p class="foot-box">
                    <i class="iconfont icon-framework"></i>&nbsp;框架：&nbsp;{$Think.config.auth.framework}
                    <span class="foot-box-r">
						<i class="iconfont icon-author"></i>&nbsp;作者：&nbsp;{$Think.config.auth.author}
                    </span>
                </p>
                <p class="foot-box">
                    源码声明：&nbsp;请参考&nbsp;
                    <a href="{$Think.config.auth.docurl}">使用手册</a>
                </p>
            </div>
            <div class="col-md-3 hidden-xs">
                <h4>程序统计</h4>
                <p class="foot-box">
                    文章：&nbsp;{$footdata.artnums|default="0"} 篇
                    <span class="foot-box-r">
                        评论：&nbsp;{$footdata.artcommentnums|default="0"} 条
                    </span>
                </p>
                <p class="foot-box">
                    建站：&nbsp;{$systeminfo.sys_createtime|getDay} 天
                    <span class="foot-box-r">
                        留言：&nbsp;{$footdata.commentnums|default="0"} 条
                    </span>
                </p>
                <p class="foot-box">
                    访问：&nbsp;{$systeminfo.sys_hits|default="0"} 次
                    <span class="foot-box-r">
                        友链：&nbsp;{$footdata.links|default="0"} 条
                    </span>
                </p>

            </div>

            <div class="col-md-3 hidden-xs">
                <h4>推荐文章</h4>
                {volist name="footdata.articles" id="art"}
                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="{:url('Article/index',['id'=>$art['art_id']])}" title="{$art.art_title}">{$art.art_title}</a>
                </p>
                {/volist}
            </div>
            <div class="col-md-3 hidden-xs">
                <h4>资源分享</h4>
                {volist name="footdata.download" id="down"}
                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="{:url('Download/info',['id'=>$down['art_id']])}" title="{$down.art_title}">{$down.art_title}</a>
                </p>
                {/volist}
            </div>
        </div>
        <div class="row bottom">
            <div class="col-md-6 col-sm-5 bottom-left">
                {$systeminfo.sys_copy}
            </div>
            <div class="col-md-6 col-sm-7 bottom-right hidden-xs">
                {$systeminfo.sys_footer}&nbsp;|&nbsp;{$systeminfo.sys_icp}
            </div>
        </div>
    </div>
</div>
<!--底部结束-->

<!--返回顶部-->
<div class="toTop hidden-xs" style="display: none;">
    <span class="glyphicon glyphicon-chevron-up toTop-img"></span>
</div>
<!--返回顶部-->
<script src="com_layer/layer.js"></script>
<script src="home_js/bootstrap.js"></script>
<script src="home_js/common.js"></script>
</body>
</html>
