{extend name="layout_iframe"}
{block name="content"}
<form action="{:url('Admin/Link/edit')}">
    <input type="hidden" name="link_id" value="{$info.link_id}">
    <table cellpadding="0" cellspacing="0" style="border:0; margin: 0 auto;" class="tc">
        <tr>
            <td width="80" align="right">名称：</td>
            <td class="tdright">
                <input type="text" name="link_name" placeholder="请输入名称" value="{$info.link_name}">
            </td>
        </tr>
        <tr>
            <td width="80" align="right">指向地址：</td>
            <td class="tdright">
                <input type="text" name="link_url" placeholder="请输入指向地址" value="{$info.link_url}">
            </td>
        </tr>
        <tr>
            <td width="80" align="right">描述：</td>
            <td class="tdright">
                <textarea name="link_content" class="link_content">{$info.link_content}</textarea>
            </td>
        </tr>
        <tr>
            <td width="80" align="right">排序：</td>
            <td class="tdright">
                <input type="text" name="link_sort" value="{$info.link_sort}">
            </td>
        </tr>
        <tr>
            <td width="80" align="right">显示：</td>
            <td class="tdright">
                <div class="radio">
                    <input type="radio" name="link_view" id="radio_1" value="1" {eq name="info.link_view" value="1"}checked{/eq} /><label for="radio_1">显示</label>&nbsp;
                    <input type="radio" name="link_view" id="radio_2" value="0" {eq name="info.link_view" value="0"}checked{/eq} /><label for="radio_2">不显示</label>&nbsp;
                </div>
            </td>
        </tr>
        <tr>
            <td width="80" align="right">原图片：</td>
            <td class="tdright">
                <img src='{$info.link_favicon}' style="margin: 10px 0;">
                <input name='link_old_img' value='{$info.link_favicon}' type='hidden'>
            </td>
        </tr>
        <tr>
            <td width="80" align="right">图片：</td>
            <td class="tdright">
                <div id="uploader-demo">
                    <div id="filePicker">选择图片</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><span style="color: #666">上传文件尺寸为: 48*48</span></td>
        </tr>
        <tr>
            <td colspan="2" class="enter">
                <button class="btn editsave" type="button">修改</button>
                <button class="btn" type="reset">重置</button>
            </td>
        </tr>
    </table>
</form>
<script src="admin_upload/webuploader.js"></script>
<link rel="stylesheet" href="admin_upload/webuploader.css"/>

<script>
    var uploader = WebUploader.create({
        auto: true,
        swf: 'admin_upload/Uploader.swf',
        server: "{:url('Admin/Link/upload')}",
        fileNumLimit:1,
        fileSingleSizeLimit : 1024*1024,
        pick: '#filePicker',
        fileVal:'image',
        accept: {
            title: 'Images',
            extensions: 'jpg,jpeg,bmp,png,ico',
            mimeTypes: 'image/*'
        }
    });
    uploader.on('uploadSuccess', function (file, data) {
        if( data.err == 0 ){
            _this = $('#filePicker');
            _this.parent().after("<img src='/uploads/link/"+data.data+"'>");
            _this.parent().after("<input name='link_favicon' value='/uploads/link/"+data.data+"' type='hidden'>");
            _this.parent().remove();
            layer.msg(data.msg, {icon: 6,time:500});
        }else{
            layer.msg(data.msg, {icon: 5,time:500});
        }
    });
    uploader.on("error", function (type) {
        if (type == "Q_TYPE_DENIED") {
            layer.msg('请选择图片格式的文件!', {icon: 5,time:500});
        } else if (type == "F_EXCEED_SIZE") {
            layer.msg('文件大小不能超过1MB!', {icon: 5,time:500});
        }
    });
    uploader.on('uploadError', function (file) {
        layer.msg('上传失败!', {icon: 5,time:500});
    });
</script>
{/block}