<!DOCTYPE html>
<html lang="Zh-cn">
<head>
    <title>LoveTeemo Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin_css/bootstrap.min.css" />
    <link rel="stylesheet" href="admin_css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="admin_css/loveteemo.main.css" />
    <link rel="stylesheet" href="admin_css/style.css" />
    <link rel="stylesheet" href="admin_css/loveteemo.{$Think.cookie.color??'grey'}.css" class="skin-color" />
    <script src="admin_js/jquery.min.js"></script>
    <script src="com_laydate/laydate.js"></script>
</head>
<body>


<div id="header">
    <h1><a href="{:url('Admin/Index/index')}">LoveTeemo Admin</a></h1>
</div>
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav btn-group">
        <li class="btn btn-inverse">
            <a title="" href="javascript:;"><i class="icon icon-user"></i> <span class="text">{$Think.session.qq.nick}</span></a>
        </li>
        <li class="btn btn-inverse cleancache" data-url="{:url('Admin/Auth/clean')}">
            <a title="" href="javascript:;"><i class="icon icon-trash"></i> <span class="text">清空缓存</span></a>
        </li>
        <li class="btn btn-inverse">
            <a title="" href="{:url('Admin/System/index')}"><i class="icon icon-cog"></i> <span class="text">系统设置</span></a>
        </li>
        <li class="btn btn-inverse">
            <a title="" href="javascript:;" data-url="{:url('Admin/Auth/logout')}" class="logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a>
        </li>
    </ul>
</div>

<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i>仪表板</a>
    <ul>
        <li class="{:adminmenu('Index')}">
            <a href="{:url('Admin/Index/index')}"><i class="icon icon-home"></i> <span>仪表板</span></a>
        </li>
        <li class="{:adminmenu('System')}">
            <a href="{:url('Admin/System/index')}"><i class="icon icon-cog"></i> <span>系统设置</span></a>
        </li>
        <li class="{:adminmenu('Cate')}">
            <a href="{:url('Admin/Cate/index')}"><i class="icon icon-th-list"></i> <span>自定义菜单</span></a>
        </li>
        <li class="{:adminmenu('Banner')}">
            <a href="{:url('Admin/Banner/index')}"><i class="icon icon-resize-vertical"></i> <span>首页幻灯</span></a>
        </li>
        <li class="{:adminmenu('Tip')}">
            <a href="{:url('Admin/Tip/index')}"><i class="icon icon-resize-vertical"></i> <span>首页文字</span></a>
        </li>
        <li class="{:adminmenu('Page')}">
            <a href="{:url('Admin/Page/index')}"><i class="icon icon-file"></i> <span>单页管理</span></a>
        </li>
        <li class="{:adminmenu('Article')}">
            <a href="{:url('Admin/Article/index')}"><i class="icon icon-align-justify"></i> <span>文章列表</span></a>
        </li>
        <li class="{:adminmenu('Comment')}">
            <a href="{:url('Admin/Comment/index')}"><i class="icon icon-share-alt"></i> <span>留言评论</span></a>
        </li>
        <li class="{:adminmenu('Member')}">
            <a href="{:url('Admin/Member/index')}"><i class="icon icon-user"></i> <span>会员列表</span></a>
        </li>
        <li class="{:adminmenu('Link')}">
            <a href="{:url('Admin/Link/index')}"><i class="icon icon-warning-sign"></i> <span>友情链接</span></a>
        </li>
        <li class="{:adminmenu('Version')}">
            <a href="{:url('Admin/Version/index')}"><i class="icon icon-warning-sign"></i> <span>版本控制</span></a>
        </li>
    </ul>
</div>

<div id="style-switcher" data-url="{:url('Admin/Auth/color')}">
    <i class="icon-arrow-left icon-white"></i>
    <span>Style:</span>
    <a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
    <a href="#blue" style="background-color: #2D2F57;"></a>
    <a href="#red" style="background-color: #673232;"></a>
</div>

<div id="content">
    {block name="title"}
    {/block}
    <div class="container-fluid">
        {block name="content"}
        {/block}
        <div class="row-fluid">
            <div id="footer" class="span12">
                2016 &copy; LoveTeemo’s Blog. Brought to you by <a href="http://www.loveteemo.com">long</a>
            </div>
        </div>
    </div>
</div>
<script src="com_layer/layer.js"></script>
<script src="admin_js/jquery.ui.custom.js"></script>
<script src="admin_js/bootstrap.min.js"></script>
<script src="admin_js/loveteemo.js"></script>
</body>
</html>
