{extend name="layout"}
{block name="title"}
<div id="content-header">
    <h1>修改文章</h1>
</div>
<div id="breadcrumb">
    <a href="{:url('Admin/Index/index')}" title="回到首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
    <a href="#" class="current">修改文章</a>
</div>
{/block}
{block name="content"}
<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-info">
            附加上传请勿使用中文
            <a href="#" data-dismiss="alert" class="close">×</a>
        </div>
        <div class="widget-box">
            <div class="widget-content nopadding">
                <form class="form-horizontal" action="{:url('Admin/Article/edit')}"/>
                <input type="hidden" name="art_id" value="{$info.art_id}">
                <input type="hidden" name="art_old_img" value="{$info.art_img}">
                <div class="control-group">
                    <label class="control-label">文章标题</label>
                    <div class="controls">
                        <input type="text" name="art_title" value="{$info.art_title}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">文章类别</label>
                    <div class="controls">
                        <div style="width: 262px;">
                            <select name="art_pid" class="art_pid">
                                <option value="">选择文章栏目</option>
                                {volist name="menulist" id="m" key="key"}
                                <option value="{$m.menu_id}" {eq name="info.art_pid" value="$m.menu_id"}selected{/eq} >{$m.menu_name}</option>
                                {/volist}
                                <option value="99" {eq name="info.art_pid" value="99"}selected{/eq} >下载资源</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="control-group download" style="display: none">
                    <label class="control-label">附件</label>
                    <div class="controls">
                        <div id="picker">选择文件</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">关键词</label>
                    <div class="controls">
                        <input type="text" name="art_keyword" placeholder="用中文，分隔" value="{$info.art_keyword}" />
                    </div>
                </div>
                <div class="control-group" >
                    <label class="control-label">封面</label>
                    <div class="controls">
                        <div class="imageBox-article" onmousewheel="return false">
                            <div class="thumbBox-article" ></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="upload"><input type="file" class="file" value="" /><label>上传图片</label></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">描述</label>
                    <div class="controls">
                        <textarea name="art_remark" class="art_remark">{$info.art_remark}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">内容</label>
                    <div class="controls" style="width: 80% !important;">
                        <div id="editor" style="height: 500px;">{$info.art_content}</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">显示</label>
                    <div class="controls">
                        <div class="radio">
                            <input type="radio" name="art_view" id="radio_1" value="2" {eq name="info['art_view']" value="2"} checked {/eq} /><label for="radio_1">显示并推荐</label>&nbsp;
                            <input type="radio" name="art_view" id="radio_2" value="1" {eq name="info['art_view']" value="1"} checked {/eq} /><label for="radio_2">显示</label>&nbsp;
                            <input type="radio" name="art_view" id="radio_3" value="0" {eq name="info['art_view']" value="0"} checked {/eq} /><label for="radio_3">不显示</label>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">原创</label>
                    <div class="controls">
                        <div class="radio">
                            <input type="radio" name="art_original" id="radio_4" value="1" {eq name="info['art_original']" value="1"} checked {/eq} /><label for="radio_4">原创</label>&nbsp;
                            <input type="radio" name="art_original" id="radio_5" value="0" {eq name="info['art_original']" value="0"} checked {/eq} /><label for="radio_5">转载</label>&nbsp;
                        </div>
                    </div>
                </div>

                {eq name="info['art_original']" value="1"}
                    <div class="control-group art-url" style="display: none;">
                {else/}
                    <div class="control-group art-url">
                {/eq}
                    <label class="control-label">转载地址</label>
                    <div class="controls">
                        <input type="text" name="art_url" value="{$info.art_url}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">作者</label>
                    <div class="controls">
                        <input type="text" name="art_author" value="{$info.art_author}" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-primary addarticle">修改文章</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="admin_css/style.css">
<link rel="stylesheet" href="com_editor/css/wangEditor.min.css">
<link rel="stylesheet" href="home_css/solarized_light.css" />
<script src="com_editor/js/wangEditor.min.js"></script>
<script src="admin_js/editor.config.js"></script>
<script src="admin_js/cropbox-min.js"></script>
<script src="admin_upload/webuploader.js"></script>
<link rel="stylesheet" href="admin_upload/webuploader.css"/>
<script>

    var pid = $(".art_pid").val();
    if( pid == 99 ){
        $('.download').fadeIn();
        if(!$('#picker').hasClass('webuploader-container')){
            uploader = WebUploader.create({
                auto: true,
                swf: 'admin_upload/Uploader.swf',
                server: "{:url('Admin/Article/uploadfile')}",
                pick: '#picker',
                resize: false,
                fileVal:'file',
                duplicate :true
            });
        }
        uploader.on('uploadSuccess', function (file, data) {
            if( data.err == 0 ){
                _this = $('#picker');
                _this.parent().after("<div class=\"controls\"><input name=\"art_file\" value=\""+data.data+"\" type=\"text\" disabled></div>");
                _this.parent().remove();
                layer.msg(data.msg, {icon: 6,time:500});
            }else{
                layer.msg(data.msg, {icon: 5,time:500});
            }
        });
        uploader.on('uploadError', function (file) {
            layer.msg('上传失败!', {icon: 5,time:500});
        });
    }


    $('.art_pid').change(function(){
        var pid = $(this).val();
        var _this = $('.download');
        if( pid == 99 ){
            _this.fadeIn();
            if(!$('#picker').hasClass('webuploader-container')){
                uploader = WebUploader.create({
                    auto: true,
                    swf: 'admin_upload/Uploader.swf',
                    server: "{:url('Admin/Article/uploadfile')}",
                    pick: '#picker',
                    resize: false,
                    fileVal:'file',
                    duplicate :true
                });
            }
            uploader.on('uploadSuccess', function (file, data) {
                if( data.err == 0 ){
                    _this = $('#picker');
                    _this.parent().after("<div class=\"controls\"><input name=\"art_file\" value=\""+data.data+"\" type=\"text\" disabled></div>");
                    _this.parent().remove();
                    layer.msg(data.msg, {icon: 6,time:500});
                }else{
                    layer.msg(data.msg, {icon: 5,time:500});
                }
            });
            uploader.on('uploadError', function (file) {
                layer.msg('上传失败!', {icon: 5,time:500});
            });
        }else{
            _this.fadeOut();
        }
    });


    var options = {
        thumbBox: '.thumbBox-article',
        spinner: '.spinner',
        imgSrc: $("input[name='art_old_img']").val()
    };
    var cropper = $('.imageBox-article').cropbox(options);
    $('.file').on('change', function() {
        var reader = new FileReader();
        reader.onload = function(e) {
            options.imgSrc = e.target.result;
            cropper = $('.imageBox-article').cropbox(options);
        };
        reader.readAsDataURL(this.files[0]);
        this.files = [];
    });
    $("input[name='art_original']").click(function () {
        var original = $("input[name='art_original']:checked").val();
        if(original == 0){
            $('.art-url').css('display','block');
        }else{
            $('.art-url').hide();
        }
    });
    $(".addarticle").click(function () {
        var _this = $(this);
        _this.attr('disabled', true);
        var url = $('form').attr('action');
        layer.msg('后台数据处理中',{icon:16});
        var data = {
            "art_id"        :   $("input[name='art_id']").val(),
            "art_old_img"   :   $("input[name='art_old_img']").val(),
            "art_title"     :   $("input[name='art_title']").val(),
            "art_pid"       :   $(".art_pid").val(),
            "art_file"      :  $("input[name='art_file']").val(),
            "art_keyword"   :   $("input[name='art_keyword']").val(),
            "art_remark"    :   $(".art_remark").val(),
            "art_view"      :   $("input[name='art_view']:checked").val(),
            "art_original"  :   $("input[name='art_original']:checked").val(),
            "art_url"       :   $("input[name='art_url']").val(),
            "art_author"    :   $("input[name='art_author']").val(),
            "art_img"       :   cropper.getDataURL(),
            "art_content"   :   editor.$txt.html()
        };

        $.ajax({
            data    : data,
            type    : "Post",
            dataType: "Json",
            url     : url,
            success :function (data) {
                if(data.err==0){
                    layer.msg(data.msg,{icon:1},function () {
                        layer.closeAll();
                        location.href="{:url('Admin/Article/index')}";
                    });
                }else{
                    layer.msg(data.msg,{icon:2,time:500});
                    _this.attr("disabled",false);
                }
            },
            error   :function () {
                layer.msg('网络错误',{icon:2,time:500});
                _this.attr("disabled",false);
            }
        });
    });

</script>
{/block}