{extend name="layout"}
{block name="title"}
<div id="content-header">
    <h1>自定义菜单管理</h1>
</div>
<div id="breadcrumb">
    <a href="{:url('Admin/Index/index')}" title="回到首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
    <a href="#" class="current">自定义菜单管理</a>
</div>
{/block}
{block name="content"}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <form action="">
            <div class="widget-title">
                <h5>自定义菜单管理</h5>
                <a class="label label-info add" data-height="400"  data-url="{:url('Admin/Cate/add')}">添加</a>
                <a class="label label-info sort" data-url="{:url('Admin/Cate/sort')}">排序</a>
            </div>
            <div class="widget-content">
                <style>
                    .table th, .table td{vertical-align: middle !important;}
                </style>
                <table class="table table-bordered table-striped with-check">
                    <thead>
                    <tr>
                        <th width="10%">栏目名称</th>
                        <th width="30%">描述</th>
                        <th width="15%">地址</th>
                        <th width="10%">显示</th>
                        <th width="10%">排序</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="menulist" id="m" key="k"}
                    <tr>
                        <td>{$m.level|treeEmpty}{$m.menu_name}</td>
                        <td>{$m.menu_remark}</td>
                        <td>{$m.menu_url}</td>
                        <td style="text-align: center"><button class="btn btn-mini changgeview" data-url="{:url('Admin/Cate/view')}" data-id="{$m.menu_id}" data-view="{$m.menu_view}">{$m.menu_view?'显示':'不显示'}</button></td>
                        <td>
                            <input type="text" value="{$m.menu_sort}" name="sort[{$k}][menu_sort]">
                            <input type="hidden" value="{$m.menu_id}" name="sort[{$k}][menu_id]">
                        </td>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-mini edit" data-height="400" data-url="{:url('Admin/Cate/edit',['id'=>$m['menu_id']])}">修改</button>
                            <button type="button" class="btn btn-mini delete" data-url="{:url('Admin/Cate/delete')}" data-id="{$m.menu_id}">删除</button>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            </form>
        </div>
    </div>
</div>
{/block}